{#
 # テンプレート：article 見出し
 # -----------------------
 #
 #}

{# ------------------------------------------
変数など
--------------------------------------------- #}

{# ------------------------------------------
出力
--------------------------------------------- #}
<div class="flex">
  <div class="g1-flex4 g2-flex6 g3-flex10 g3-offset1">
    <hr class="horz-rule">

    {# 「大見出し」がセットされている場合のみ出力 #}
    {% if entry.heading %}
      <h2 class="beta center">{{ entry.heading }}</h2>
    {% endif %}

    {# 「小見出し」がセットされている場合のみ出力 #}
    {% if entry.subheading %}
      <h3 class="delta center subfont">{{ entry.subheading }}</h3>
    {% endif %}

    <hr class="horz-rule">
  </div>
</div><!-- /.flex -->
