{#
 # テンプレート：article 本文
 # -----------------------
 #
 #}

{# ------------------------------------------
変数など
--------------------------------------------- #}
{# 「記事本文」フィールドのブロックを変数にセット #}
{% set blocks = entry.articleBody %}


{# ------------------------------------------
出力
--------------------------------------------- #}
{# ブロックのループ処理 #}
{% for block in blocks.all() %}
  <div class="flex">

    {# block.type.handle の値に応じて switch 文で分岐処理 #}
    {% switch block.type.handle %}
      {# 「新しいセクション」ブロック #}
      {% case 'newSection' %}

      {# 「見出し」ブロック #}
      {% case 'heading' %}

      {# 「テキスト」ブロック #}
      {% case 'text' %}

      {# 「リード文」ブロック #}
      {% case 'pullQuote' %}

      {# 「画像」ブロック #}
      {% case 'image' %}

      {# 「ギャラリー」ブロック #}
      {% case 'gallery' %}

      {# 「引用」ブロック #}
      {% case 'quote' %}

    {% endswitch %}

  </div>
{% endfor %}

