{#
 # テンプレート：article 見出し
 # -----------------------
 #
 #}

{# ------------------------------------------
変数など
--------------------------------------------- #}

{# ------------------------------------------
出力
--------------------------------------------- #}
<div class="flex">
  <div class="g1-flex4 g2-flex6 g3-flex10 g3-offset1">
    <hr class="horz-rule">
    <h2 class="beta center">What’s more important?</h2>
    <h3 class="delta center subfont">Experience or raw skill</h3>
    <hr class="horz-rule">
  </div>
</div><!-- /.flex -->
