{#
 # テンプレート：コンテンツヘッダー
 # -----------------------
 #
 #}

{# ------------------------------------------
変数など
--------------------------------------------- #}

{# ------------------------------------------
出力
--------------------------------------------- #}
<header class="alt2">
  <div class="flex">
    <div class="g1-flex4 g2-flex6 g3-flex12">
      <h1 class="alpha center reverse">Barrel Aged Digital Natives</h1>
    </div>
  </div><!-- /.flex -->
</header><!-- /.alt2 -->

<section>
  <img class="contain-media" src="https://placehold.jp/3d4070/42598f/1440x360.png" alt="water-barley-hops">
</section><!-- /section -->
