{#
 # テンプレート：コンテンツヘッダー
 # -----------------------
 #
 #}

{# ------------------------------------------
変数など
--------------------------------------------- #}
{# 「メイン画像」の取得 #}
{% set image = entry.featuredImage.one() %}


{# ------------------------------------------
出力
--------------------------------------------- #}
<header class="alt2"{% if entry.backgroundColor %} style="background:{{ entry.backgroundColor }};"{% endif %}>
  <div class="flex">
    <div class="g1-flex4 g2-flex6 g3-flex12">
      <h1 class="alpha center reverse">{{ entry.title }}</h1>
    </div>
  </div><!-- /.flex -->
</header><!-- /.alt2 -->

{# 「メイン画像」がセットされていて、かつ、excludeContentHeaderImage が未定義の場合のみ出力 #}
{% if image and excludeContentHeaderImage is not defined %}
  <section>
    <img class="contain-media" src="{{ image.getUrl({ width: 1440, height: 360 }) }}" alt="{{ image.title }}">
  </section>
{% endif %}
