{#
 # テンプレート：共通フッターモジュール
 # -----------------------
 #
 #}

{# ------------------------------------------
変数など
--------------------------------------------- #}

{# ------------------------------------------
出力
--------------------------------------------- #}
<footer id="footer">
  <div class="flex">
    <div class="g1-flex4 g2-flex3 g3-flex6">
      <img src="/assets/images/hl.svg" width="76" height="76" alt="H.L.">
      <p class="copyright">© Copyright Happy Lager 2018</p>
    </div>
    <div class="g1-flex4 g2-flex3 g3-flex6">
      <a class="contact" href="mailto:hi@happylager.dev">Pull up a barstool</a>
    </div>
  </div><!-- /.flex -->
</footer><!-- /#footer -->