{#
 # テンプレート：会社案内
 # -----------------------
 #
 #}

{# ------------------------------------------
変数など
--------------------------------------------- #}
{# meta タイトル #}
{% set metaTitle = '会社案内' %}


{# ------------------------------------------
出力
--------------------------------------------- #}
{# ベースレイアウトを extends #}
{% extends '_layout' %}

{# main ブロック #}
{% block main %}
  <header class="alt">
    <div class="flex">
      <div class="g1-flex4 g2-flex6 g3-flex12">
        <h1 class="alpha center reverse">The Brewery</h1>
      </div>
    </div><!-- /.flex -->
  </header><!-- /.alt -->
  <section class="info-hero alt" style="background-image: url('https://placehold.jp/3d4070/42598f/1280x274.png')">
    <div class="flex">
      <div class="g1-flex4 g2-flex6 g3-flex8 g3-offset2">
        <h1 class="delta reverse center subfont">We set out with a simple goal: create the design and products that we
          would like to see.</h1>
        <div class="epsilon center reverse">
          <p>We are a group of highly effective, passionate people ready to take your
            product to the next level. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe
            eveniet ut et voluptates repudiandae sint et molestiae non recusandae taque earum hic tenetur a sapiente
            delectus ut aut reiciendis.</p>
        </div>
      </div>
    </div><!-- /.flex -->
  </section><!-- /.info-hero -->

  {# 「article 本文」モジュールを読み込み #}
  {% include "_partials/article_body" %}

  <section class="alt2">
    <div class="flex">
      <div class="g1-flex4 g2-flex6 g3-flex5">
        <h1 class="gamma subfont alt">Happy Lager Chicago</h1>
        <p class="delta subfont caps address">2701 West Thomas St<br/>
          Chicago, Il 60622</p>
        <dl class="inline">
          <dt>Main Office</dt>
          <dd>312.900.2356</dd>
          <dt>Sales</dt>
          <dd>312.985.4500</dd>
          <dt>Fax</dt>
          <dd>312.229.1122</dd>
        </dl><!-- /.inline -->
        <ul class="horz-list">
          <li>
            <a href="mailto:chicago@happylager.dev" class="subfont caps email-us-btn">Email Us</a>
          </li>
          <li>
            <a href="https://www.google.com/maps/search/2701%20West%20Thomas%20St%2C%20Chicago%2C%20Il%2060622" target="_blank" class="subfont caps map-btn">Map</a>
          </li>
        </ul><!-- /.horz-list -->
      </div>
      <div class="g1-flex4 g2-flex6 g3-flex7">
        <img src="https://placehold.jp/3d4070/42598f/520x320.png" alt="Happy Lager Chicago"/>
      </div>
    </div><!-- /.flex -->
  </section><!-- /.alt2 -->
{% endblock %}
