{#
 # テンプレート：サービス - 詳細
 # -----------------------
 #
 #}

{# ------------------------------------------
変数など
--------------------------------------------- #}
{# meta タイトル #}
{% set metaTitle = entry.title ~ ' | サービス' %}

{# 「コンテンツヘッダー」でメイン画像を出力しないためのフラグをセット #}
{% set excludeContentHeaderImage = 1 %}

{# 「サービス」セクションのエントリを取得 #}
{% set serviceEntries = craft.entries.section('services').all() %}


{# ------------------------------------------
出力
--------------------------------------------- #}
{# ベースレイアウトを extends #}
{% extends '_layout' %}

{# main ブロック #}
{% block main %}
  <nav class="subnav">
    <div class="flex">
      <div class="g1-flex4 g2-flex6 g3-flex12">
        <ul>
          {# 「サービス」セクションのエントリ一覧 #}
          {% for serviceEntry in serviceEntries %}
            {# ループ中の「サービス」エントリ ID と現在のページのエントリ ID が同一なら true #}
            {% set isCurrent = (serviceEntry.id == entry.id) %}

            <li>
              <a href="{{ serviceEntry.url }}" class="subfont caps{% if isCurrent %} current{% endif %}">
                {{ serviceEntry.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div><!-- /.flex -->
  </nav><!-- /.subnav -->
  <section>
    <article>
      {# 「コンテンツヘッダー」モジュールを読み込み #}
      {% include "_partials/content_header" %}
      {# 「article 本文」モジュールを読み込み #}
      {% include "_partials/article_body" %}
    </article><!-- /article -->
  </section><!-- /section -->
  <section class="service-points">

    <div class="flex">
      <div class="service-point">
        <div class="g1-flex4 g2-flex3 g3-flex4">
          <h4>Discover your audience</h4>
          <p>
            Your audience is human, but their device is not. We like to cross that gap by engaging your audience in
            casual conversation as one would at their local pub.
          </p>
        </div>
        <div class="g1-flex4 g2-flex3 g3-flex8">
          <img class="" src="https://placehold.jp/3d4070/42598f/600x200.png" alt="discover">
        </div>
      </div><!-- /.service-point -->
    </div><!-- /.flex -->

  </section><!-- /.service-points -->
  <section class="services-work-entry">
    <div style="background-image: url('https://placehold.jp/3d4070/42598f/1280x328.png')">
      <div class="flex">
        <div class="g1-flex4 g2-flex3 g3-flex6">
          <a href="../work/detail.html">
            <img src="https://placehold.jp/3d4070/42598f/440x328.png" alt="diva-bigimage">
          </a>
        </div>
        <div class="g1-flex4 g2-flex3 g3-flex6">
          <div class="summary-wrap">
            <h2 class="callout-border"><a href="../work/detail.html">Diva!</a></h2>
            <h3><a href="../work/detail.html">A Star Is Born</a></h3>
            <p>Combining Music with Celebrity gossip has become the winning combination making DIVA! the most downloaded
              app of 2013</p>
            <p><a href="../work/detail.html" class="view-more hero-cta">View More</a></p>
          </div>
        </div>
      </div><!-- /.flex -->
  </section><!-- /.services-work-entry -->
{% endblock %}
