{#
 # テンプレート：サービス - インデックス
 # -----------------------
 #
 #}

{# ------------------------------------------
変数など
--------------------------------------------- #}
{# meta タイトル #}
{% set metaTitle = 'サービス' %}


{# ------------------------------------------
出力
--------------------------------------------- #}
{# ベースレイアウトを extends #}
{% extends '_layout' %}

{# main ブロック #}
{% block main %}
  <header class="alt2">
    <div class="flex">
      <div class="g1-flex4 g2-flex6 g3-flex12">
        <h1 class="alpha center reverse">How It’s Made</h1>
      </div>
    </div><!-- /.flex -->
  </header><!-- /.alt2 -->
  <section class="alt">
    <div class="flex">
      <div class="g1-flex4 g2-flex6 g3-flex8 g3-offset2">
        {# 「大見出し」がセットされている場合のみ出力 #}
        {% if entry.heading %}
          <h1 class="delta center subfont">{{ entry.heading }}</h1>
        {% endif %}
        {# 「本文」がセットされている場合のみ出力 #}
        {% if entry.body %}
          <div class="epsilon center">{{ entry.body }}</div>
        {% endif %}
      </div>
    </div><!-- /.flex -->
  </section><!-- /.alt -->
  <section>
    <div class="flex">

      <div class="g1-flex4 g2-flex2 g3-flex4">
        <a href="../services/detail.html" class="services-entry-wrap">
          <img src="https://placehold.jp/3d4070/42598f/280x204.png" alt="news-link-2-image"/>
          <h3 class="center">Design</h3>
          <p>We're a close-knit team of agile thinkers ready to create.</p>
        </a><!-- /.services-entry-wrap-->
      </div>

    </div><!-- /.flex -->
  </section><!-- /section -->
{% endblock %}
