{#
 # テンプレート：ニュース - 詳細
 # -----------------------
 #
 #}

{# ------------------------------------------
変数など
--------------------------------------------- #}
{# meta タイトル #}
{% set metaTitle = entry.title ~ ' | ニュース' %}

{# ------------------------------------------
出力
--------------------------------------------- #}
{# ベースレイアウトを extends #}
{% extends '_layout' %}

{# main ブロック #}
{% block main %}
  <article>
    <header class="alt2">
      <div class="flex">
        <div class="g1-flex4 g2-flex6 g3-flex12">
          <h1 class="alpha center reverse">Barrel Aged Digital Natives</h1>
        </div>
      </div><!-- /.flex -->
    </header><!-- /.alt2 -->
    <section>
      <img class="contain-media" src="https://placehold.jp/3d4070/42598f/1440x360.png" alt="water-barley-hops">
    </section><!-- /section -->
    <div class="flex">
      <div class="g1-flex4 g2-flex6 g3-flex10 g3-offset1">
        <hr class="horz-rule">
        <h2 class="beta center">What’s more important?</h2>
        <h3 class="delta center subfont">Experience or raw skill</h3>
        <hr class="horz-rule">
      </div>
    </div><!-- /.flex -->
    <div class="flex">
      <div class="g1-flex4 g2-flex6 g3-flex10 g3-offset1">
        <p>
          <strong>Our answer is: both.</strong> Et iusto odio dignissimos ducimus qui blanditii raesentium voluptatum
          deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,
          similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Deserunt mollitia
          animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis. Nam libero tempore, cum soluta nobis est
          eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda
          est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut.
        </p>
        <p>
          Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat
          facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut
          officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non
          recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias
          consequatur aut perferendis doloribus asperiores repellat.
        </p>
      </div>
    </div><!-- /.flex -->
    <div class="flex">
      <div class="g1-flex4 g2-flex6 g3-flex10 g3-offset1">
        <div class="g1-flex4 g2-flex6 g3-flex6 flex-nested">
          <div class="pullquote">
            <p class="delta center subfont caps">Whenever something made me uncomfortable, I would give it a try. So I
              moved around a bit, trying new things out.</p>
          </div>
        </div>
        <div class="g1-flex4 g2-flex6 g3-flex6 flex-nested push">
          <p><img src="https://placehold.jp/3d4070/42598f/360x300.png" alt="laptop-desk"></p>
        </div>
      </div>
    </div><!-- /.flex -->
    <div class="flex">
      <div class="g1-flex4 g2-flex6 g3-flex10 g3-offset1">
        <h2 class="delta center subfont caps">The Experience</h2>
      </div>
    </div><!-- /.flex -->
    <div class="flex">
      <div class="g1-flex4 g2-flex6 g3-flex10 g3-offset1">
        <p>
          Vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
          corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in
          culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est
          et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus
          id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
        </p>
        <ul>
          <li>Optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est,
            omnis dolor repellendus.
          </li>
          <li>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates
            repudiandae sint et molestiae non recusandae.
          </li>
          <li>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias
            consequatur aut perferendis doloribus asperiores repellat.
          </li>
        </ul>
      </div>
    </div><!-- /.flex -->
    <div class="flex">
      <div class="g1-flex4 g2-flex6 g3-flex10 g3-offset1">
        <h2 class="delta center subfont caps">The Skills</h2>
      </div>
    </div><!-- /.flex -->
    <div class="flex">
      <div class="g1-flex4 g2-flex6 g3-flex10 g3-offset1">
        <p>
          Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi
          optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est,
          omnis dolor repellendus. Temporibus autem quibusdam et aut.
        </p>
        <ol>
          <li>Optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est,
            omnis dolor repellendus.
          </li>
          <li>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates
            repudiandae sint et molestiae non recusandae.
          </li>
          <li>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias
            consequatur aut perferendis doloribus asperiores repellat.
          </li>
        </ol>
        <p>
          Officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non
          recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias
          consequatur aut perferendis doloribus asperiores repellat. At vero eos et accusamus et iusto odio dignissimos
          ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi
          sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est
          laborum et dolorum fuga.
        </p>
      </div>
    </div><!-- /.flex -->
    <div class="flex flex-full">
      <p>
        <img class="contain-media" src="https://placehold.jp/3d4070/42598f/1440x480.png" alt="coffee-shop">
      </p>
    </div><!-- /.flex.flex-full -->
    <div class="flex">
      <div class="g1-flex4 g2-flex6 g3-flex10 g3-offset1">
        <h2 class="delta center subfont caps">In the End</h2>
      </div>
    </div><!-- /.flex -->
    <div class="flex">
      <div class="g1-flex4 g2-flex6 g3-flex10 g3-offset1">
        <p>
          Vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
          corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in
          culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est
          et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus
          id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
        </p>
      </div>
    </div><!-- /.flex -->
  </article><!-- /article -->
  <footer class="authorinfo">
    <div class="flex">
      <div class="g1-flex4 g2-flex6 g3-flex12">
        <p class="center author">admin</p>
      </div>
    </div><!-- /.flex -->
  </footer><!-- /.authorinfo -->
{% endblock %}
