{#
 # テンプレート：ニュース - インデックス
 # -----------------------
 #
 #}

{# ------------------------------------------
変数など
--------------------------------------------- #}
{# meta タイトル #}
{% set metaTitle = 'ニュース' %}

{# 「固定表示フラグ」が ON の最新エントリを取得 #}
{% set featuredEntry = craft.entries({
  section: 'news',
  featuredEntry: 1,
  orderBy: 'postDate desc'
}).one() %}

{# 「ニュース」セクションのエントリを取得 #}
{% set newsEntries = craft.entries({
  section: 'news',
  orderBy: 'postDate desc',
  id: (featuredEntry ? 'not ' ~ featuredEntry.id : null)
}) %}

{# newsEntries を2件ごとに分割し、変数にセット #}
{% paginate newsEntries.limit(2) as pageInfo, pageEntries %}


{# ------------------------------------------
出力
--------------------------------------------- #}
{# ベースレイアウトを extends #}
{% extends '_layout' %}

{# main ブロック #}
{% block main %}
  <header class="alt2">
    <div class="flex">
      <div class="g1-flex4 g2-flex6 g3-flex12">
        <h1 class="alpha center reverse">Brew News</h1>
      </div>
    </div><!-- /.flex -->
  </header><!-- /.alt2 -->
  <div class="flex">

    {# 「固定表示フラグ」が ON の最新エントリ #}
    {% if featuredEntry %}
      {# 「メイン画像」を取得 #}
      {% set image = featuredEntry.featuredImage.one() %}

      <article class="featured news-entry">
        {# 「メイン画像」がセットされていれば、出力 #}
        {% if image %}
          <figure>
            <a href="{{ featuredEntry.url }}">
              <img src="{{ image.url }}" alt="{{ image.title }}" width="570" height="348">
            </a>
          </figure>
        {% endif %}
        <div class="summary-wrap">
          <h3><a href="{{ featuredEntry.url }}">{{ featuredEntry.title }}</a></h3>
          <span class="author">{{ featuredEntry.author.name }}</span>
          {{ featuredEntry.shortDescription }}
          <p>
            <a href="{{ featuredEntry.url }}" class="more-link">Read More</a>
          </p>
        </div><!-- /.summary-wrap -->
      </article><!-- /.featured.news-entry -->
    {% endif %}

    {# 現在のページの「ニュース」エントリ一覧 #}
    {% for entry in pageEntries %}
      {# 「メイン画像」を取得 #}
      {% set image = entry.featuredImage.one() %}

      <article class="news-entry">
        {# 「メイン画像」がセットされていれば、出力 #}
        {% if image %}
          <figure>
            <a href="{{ entry.url }}">
              <img src="{{ image.getUrl('thumb') }}" alt="{{ image.title }}" width="570" height="348">
            </a>
          </figure>
        {% endif %}
        <div class="summary-wrap">
          <h3><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
          {{ entry.shortDescription }}
          <p>
            {% if entry.type == 'link' %}
              {# 「リンク」入力タイプの場合 #}
              <a href="{{ entry.url }}" class="more-link">Check it out</a>
            {% else %}
              {# 「デフォルト」入力タイプの場合 #}
              <span class="author">{{ entry.author.name }}</span>
              <span class="separator">|</span>
              <a href="{{ entry.url }}" class="more-link">Read More</a>
            {% endif %}
          </p>
        </div><!-- /.summary-wrap -->
      </article><!-- /.news-entry -->
    {% endfor %}

    {# ページナビゲーション #}
    <hr class="horz-rule">
    <div class="pagination">
      <ul>

        {# 前のページがあれば出力 #}
        {% if pageInfo.prevUrl %}
          <li><a href="{{ pageInfo.prevUrl }}" class="pag-prev-link">Previous Page</a></li>
        {% endif %}

        {# 前のページがあれば、最大5ページまで出力 #}
        {% for page, url in pageInfo.getPrevUrls(5) %}
          <li><a href="{{ url }}">{{ page }}</a></li>
        {% endfor %}

        {# 現在のページ番号 #}
        <li class="current">{{ pageInfo.currentPage }}</li>

        {# 次のページがあれば、最大5ページまで出力 #}
        {% for page, url in pageInfo.getNextUrls(5) %}
          <li><a href="{{ url }}">{{ page }}</a></li>
        {% endfor %}

        {# 次のページがあれば出力 #}
        {% if pageInfo.nextUrl %}
          <li><a href="{{ pageInfo.nextUrl }}" class="pag-next-link">Next Page</a></li>
        {% endif %}

      </ul>
    </div><!-- /.pagination -->
  </div><!-- /.flex -->
{% endblock %}
