{#
 # テンプレート：サイト共通レイアウト
 # -----------------------
 #
 #}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <title>Happy Lager (en)</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/assets/fonts/stylesheet.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/happylager.css">
</head>
<body class="homepage">
  {# 共通ヘッダーのインクルード #}
  {% include '_partials/header' %}

  <main id="main" role="main">
    <div id="hero">
      <img src="https://placehold.jp/3d4070/42598f/1280x800.png" alt="hero-image"/>
      <div class="hero-info">
        <h1>We always see the glass<br>
          <span class="ir">Half Full</span>
        </h1>
        <p class="center reverse">Work with Happy Lager and you will find an endless<br>
          tap of ideas, wit and creativity.
        </p>
        <p class="center"><a href="mailto:hi@happylager.dev" class="hero-cta">Pull up a bar stool</a></p>
      </div><!-- /.hero-info -->
    </div><!-- /#hero -->
    <section id="on-tap">
      <div class="flex">
        <div class="g1-flex4 g2-flex6 g3-flex12">
          <div class="on-tap-buttons-wrap">
            <a class="button-w-icon icon-beer" href="./work/">What’s on Tap</a>
            <a href="./work/" class="view-more">View More</a>
          </div>
        </div>
      </div><!-- /.flex -->
      <div class="flex">
        <div class="g1-flex4 g2-flex2 g3-flex4">
          <a href="./work/detail.html" class="services-entry-wrap">
            <img src="https://placehold.jp/3d4070/42598f/280x204.png" alt="image.title"/>
            <h3 class="center">Sports R&#039; Us</h3>
            <p>
              New e-commerce experience for Sports R' Us
            </p>
          </a>
        </div>
        <div class="g1-flex4 g2-flex2 g3-flex4">
          <a href="./work/detail.html" class="services-entry-wrap">
            <img src="https://placehold.jp/3d4070/42598f/280x204.png" alt="image.title"/>
            <h3 class="center">Diva!</h3>
            <p>
              In July, we released Diva!, our celebrity music app.
            </p>
          </a>
        </div>
        <div class="g1-flex4 g2-flex2 g3-flex4">
          <a href="./work/detail.html" class="services-entry-wrap">
            <img src="https://placehold.jp/3d4070/42598f/280x204.png" alt="image.title"/>
            <h3 class="center">On Track</h3>
            <p>
              Our desktop software for the busy forex trader.
            </p>
          </a>
        </div>
      </div><!-- /.flex -->
    </section><!-- /#on-tap -->
    <section id="how-made">
      <div class="flex">
        <div class="g1-flex4 g2-flex6 g3-flex10 g3-offset1">
          <hr class="horz-rule alt">
          <a class="button-w-icon alt icon-beaker" href="./about/">How it’s made</a>
        </div>
      </div><!-- /.flex -->
      <div class="flex">
        <div class="g1-flex4 g2-flex6 g3-flex10 g3-offset1">
          <h1 class="beta">Uncap Happy Lager to find out how it’s made</h1>
          <h2 class="subfont delta center">Our Experience &middot; Our Services &middot; And more</h2>
        </div>
      </div><!-- /.flex -->
      <div class="flex">
        <div class="g1-flex4 g2-flex6 g3-flex10 g3-offset1">
          <hr class="horz-rule alt2">
          <a class="big-arrow" href="./about/">Go</a>
        </div>
      </div><!-- /.flex -->
    </section><!-- /#how-made -->
    <section id="testimonials">
      <div class="flex">
        <div class="g1-flex4 g2-flex2 g3-flex4 bubble">
          <blockquote>Happy Lager delivered the most comprehensive strategy from a boutique company that I’ve ever seen.</blockquote>
          <img src="https://placehold.jp/3d4070/42598f/84x84.png" alt="Larry Page">
          <p><cite class="gamma reverse">Larry Page</cite></p>
        </div><!-- /.bubble -->
        <div class="g1-flex4 g2-flex2 g3-flex4 bubble">
          <blockquote>I don’t know where to begin. I can’t recommend Happy Lager highly enough.</blockquote>
          <img src="https://placehold.jp/3d4070/42598f/84x84.png" alt="Ryan Reynolds">
          <p><cite class="gamma reverse">Ryan Reynolds</cite></p>
        </div><!-- /.bubble -->
        <div class="g1-flex4 g2-flex2 g3-flex4 bubble">
          <blockquote>Happy Lager sells the good stuff.</blockquote>
          <img src="https://placehold.jp/3d4070/42598f/84x84.png" alt="Bob Guff">
          <p><cite class="gamma reverse">Bob Guff</cite></p>
        </div><!-- /.bubble -->
      </div><!-- /.flex -->
    </section><!-- /#testimonials -->
    <section id="best-buddies">
      <div class="flex">
        <div class="g1-flex4 g2-flex6 g3-flex10 g3-offset1">
          <hr class="horz-rule alt3">
          <a class="button-w-icon alt2 icon-beercan">Our best Drinking Buddies</a>
          <ul class="logos">
            <li>
              <img src="https://placehold.jp/3d4070/42598f/148x68.png" alt="logo.title"/>
            </li>
            <li>
              <img src="https://placehold.jp/3d4070/42598f/148x68.png" alt="logo.title"/>
            </li>
            <li>
              <img src="https://placehold.jp/3d4070/42598f/148x68.png" alt="logo.title"/>
            </li>
            <li>
              <img src="https://placehold.jp/3d4070/42598f/148x68.png" alt="logo.title"/>
            </li>
            <li>
              <img src="https://placehold.jp/3d4070/42598f/148x68.png" alt="logo.title"/>
            </li>
          </ul><!-- /.logos -->
        </div>
      </div><!-- /.flex -->
      <div class="flex">
        <div class="g1-flex4 g2-flex6 g3-flex10 g3-offset1">
          <h1 class="beta center">Some Partners Make it all worth while</h1>
          <h2 class="subfont delta center">Robin Richards &middot; President, Happy Lager</h2>
        </div>
      </div><!-- /.flex -->
    </section><!-- /#best-buddies -->
  </main><!-- /#main -->

  {# 共通フッターのインクルード #}
  {% include '_partials/footer' %}
</body>
</html>
