{#
 # テンプレート：ワークス - 詳細
 # -----------------------
 #
 #}

{# ------------------------------------------
変数など
--------------------------------------------- #}
{# meta タイトル #}
{% set metaTitle = entry.title ~ ' | ワークス' %}


{# ------------------------------------------
出力
--------------------------------------------- #}
{# ベースレイアウトを extends #}
{% extends '_layout' %}

{# main ブロック #}
{% block main %}
  <article>
    {# 「コンテンツヘッダー」モジュールを読み込み #}
    {% include "_partials/content_header" %}
    {# 「article 見出し」モジュールを読み込み #}
    {% include "_partials/article_heading" %}
    {# 「article 本文」モジュールを読み込み #}
    {% include "_partials/article_body" %}
  </article><!-- /article -->
  <section>
    <div class="flex">
      <div class="g1-flex4 g2-flex6 g3-flex10 g3-offset1">
        <p class="center"><img src="/assets/images/social-sprite.png"></p>
        <footer>
          <hr class="horz-rule">
          <p class="services center">
            <a href="../services/detail.html">
              <img src="/assets/images/service-icons/seo.svg" alt="seo">
              <span class="services-title">SEO</span>
            </a>
            <a href="../services/detail.html">
              <img src="/assets/images/service-icons/email-marketing.svg" alt="email-marketing">
              <span class="services-title">Email Marketing</span>
            </a>
            <a href="../services/detail.html">
              <img src="/assets/images/service-icons/strategy.svg" alt="strategy">
              <span class="services-title">Strategy</span>
            </a>
          </p>
          <hr class="horz-rule">
        </footer>
        <a class="btn" href="../work/">Back to what's on tap</a>
        <nav class="prev-next-entry">
          <a href="../work/detail.html" class="pag-prev-link">Prev</a>
        </nav><!-- /.prev-next-entry -->
      </div>
    </div><!-- /.flex -->
  </section><!-- /section -->
{% endblock %}

