{#
 # テンプレート：ワークス - 詳細
 # -----------------------
 #
 #}

{# ------------------------------------------
変数など
--------------------------------------------- #}
{# meta タイトル #}
{% set metaTitle = entry.title ~ ' | ワークス' %}

{# 前後ページを取得する際のパラメータをセット #}
{% set params = {
  section: 'work',
  orderBy: 'title'
} %}

{# 前のページを取得 #}
{% set prevEntry = entry.getPrev(params) %}

{# 次のページを取得 #}
{% set nextEntry = entry.getNext(params) %}


{# ------------------------------------------
出力
--------------------------------------------- #}
{# ベースレイアウトを extends #}
{% extends '_layout' %}

{# main ブロック #}
{% block main %}
  <article>
    {# 「コンテンツヘッダー」モジュールを読み込み #}
    {% include "_partials/content_header" %}
    {# 「article 見出し」モジュールを読み込み #}
    {% include "_partials/article_heading" %}
    {# 「article 本文」モジュールを読み込み #}
    {% include "_partials/article_body" %}
  </article><!-- /article -->
  <section>
    <div class="flex">
      <div class="g1-flex4 g2-flex6 g3-flex10 g3-offset1">
        <p class="center"><img src="/assets/images/social-sprite.png"></p>
        <footer>
          <hr class="horz-rule">
          <p class="services center">
            {% for serviceEntry in entry.servicesPerformed.all() %}
              {# 「サービスアイコン」フィールドを取得 #}
              {% set image = serviceEntry.serviceIcon.one() %}

              <a href="{{ serviceEntry.url }}">
                {# 「サービスアイコン」がセットされている場合のみ出力 #}
                {% if image %}
                  <img src="{{ image.url }}" alt="{{ image.title }}">
                {% endif %}
                <span class="services-title">{{ serviceEntry.title }}</span>
              </a>
            {% endfor %}
          </p>
          <hr class="horz-rule">
        </footer>
        <a class="btn" href="/work/">Back to what's on tap</a>
        <nav class="prev-next-entry">
          {# 前のページが存在する場合のみ出力 #}
          {% if prevEntry %}
            <a href="{{ prevEntry.url }}" class="pag-prev-link">Prev</a>
          {% endif %}
          {# 次のページが存在する場合のみ出力 #}
          {% if nextEntry %}
            <a href="{{ nextEntry.url }}" class="pag-next-link">Next</a>
          {% endif %}
        </nav><!-- /.prev-next-entry -->
      </div>
    </div><!-- /.flex -->
  </section><!-- /section -->
{% endblock %}

